@charset "UTF-8";

body {
    width: 1000px;
    margin: 0;
    padding: 0px;
    color: #000;
}

header {
    background-color: #ffcccc;
}

#wrapper {
    display: flex;
    justify-content: space-between;
}

#main {
    width: 700px;
    background-color: #ccffcc;
}

#menu {
    width: 300px;
    background-color: #ccccff;
}

footer {
    background-color: #ffccff;
}